{% extends 'base.html' %}

{% comment %}{% block menu %}
    <a href="{% url 'book_add' %}" class="btn btn-outline-light">Add entry</a>
{% endblock %}{% endcomment %}

{% block content %}
    <h1 class="mt-5">Tracker</h1>
    <hr/>
    <div class="row">
        {% for tracker in trackers %}
            <div class="col-lg-3 col-md-6 mb-3"">
                <div class="card rounded-0">
                    <div class="card-body">
                        <h4>{{ tracker.summary }} </h4>
                        <div class="container mb-5">{{ tracker.description }}</div>
                        <div class="container">
                            <a href="{% url 'task_track' tracker.pk %}" class="btn btn-outline-success  btn-block">More</a>
                        </div>
{% comment %}                        <div class="container">
                            <a href="{% url 'book_delete' book.pk %}" class="btn btn-outline-success  btn-block">Delete</a>
                        </div>{% endcomment %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
